:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style: none;
}
/* Header */

/* .header {
} */

/* .header-nav {
} */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-span {
  color: var(--navy-blue);
}

/* .header-nav-list {
} */

/* .header-nav-items {
} */

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-contact {
  font-style: normal;
}

/* .header-contact-list {
} */

/* .header-contact-item {
} */

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Hero image */

.hero {
  background-color: var(--navy-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--ocean);
  color: var(--ocean);
}

/* Technology list */

/* .technology {
} */

/* .technology-title{
 } */

/* .technology-list {
} */

.technology-list-items {
  width: 264px;
}
.technology-items-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.technology-items-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Product list */

/* .product {
} */

.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* .product-list {
} */

/* .product-list-items {
} */

/* .product-images {
} */

/* Team */

.team {
  background: var(--cloud);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* .team-list {
} */

.team-list-items {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-photo {
  width: 264px;
  height: 260px;
}

.team-person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-person-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Footer */

.footer {
  background: var(--navy-blue);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}

.footer-span {
  color: var(--cloud);
}

.footer-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* Portfolio page */

/* .buttons {
} */

/* .buttons-list {
 
} */

.buttons-list-name:hover,
.buttons-list-name:focus {
  color: var(--white);
  background: var(--ocean);
}

.buttons-list-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  background: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Works list */

/* .works-list {
} */

/* .works-items {
} */

/* .works-images {
} */

.works-image-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.works-image-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
