:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --footer-title-text-color: #e7e9fc;
  --section-title-text-color: #ffffff;
  --text-logo-footer-color: #f4f4fd;
  --hover-color: #404bbf;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
/* Logo web */
.header-logo-web {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
/* logo studio */
.header-logo-studio {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.header-link:is(:hover, :focus) {
  color: var(--hover-color);
}
.contacts-link:is(:hover, :focus) {
  color: var(--hover-color);
}
/* button */
.button-title-text {
  color: var(--section-title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* auth-nav */
.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.address {
  font-style: normal;
}
/* text none */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Site-nav */
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* Home page section 1 */
.section-hero {
  background-color: var(--title-text-color);
}
.section-title-text {
  color: var(--section-title-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Home page section 2 */
.section-title-hidden {
  visibility: hidden;
}
.text-p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Home page section 3 */
.section-title-p {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
/* Home page section 4 */

/* footer */
.footer {
  background-color: var(--title-text-color);
}
.logo-studio-footer {
  color: var(--text-logo-footer-color);
}
.footer-title {
  color: var(--footer-title-text-color);
}
/* Portfolio */
.button-filtr {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.button-filtr:hover {
  color: var(--section-title-text-color);
}
