:root {
  --body-text: #434455;
  --links: #4d5ae5;
  --dark: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
}

.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--links);
  cursor: pointer;
}

.list {
  list-style: none;
}

.headlines {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.link {
  text-decoration: none;
}

.link {
}
