:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --more-dark: #434455;
  --ocean: #404bbf;
  --light: #f4f4fd;
  --white: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--more-dark);
  font-weight: 400;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.primery-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.secondery-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  letter-spacing: 0.02em;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--more-dark);
  letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.name-section {
  text-align: center;
  text-transform: capitalize;
}

.our-skills {
  background-color: #2e2f42;
}
.btn {
  font-family: "Roboto", sans-serif;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.btn:focus {
  color: var(--ocean);
}
.goal {
}
.goal-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--more-dark);
}

.name-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.footer {
  background-color: var(--dark);
}

.footer .primery-logo {
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
